/* Create huge scrolling area (imitates height of a page) */
main { padding: 200px 0 1500px 0; overflow: hidden; }

@font-face {
  font-family: myFirstFont;
  src: url("DK Lemon Yellow Sun.otf");
}

body {
  background-color: #0f1d2a;
  color: #fff;
  font-family: myFirstFont;
}

#title {
  color: #fff;
  background-image: url("img/stars.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center; 
  height: 100%;
  width: 100%;
}

#main-logo {
  margin-top: 20%;
  display:block;
  margin-left:auto;
  margin-right: auto;
}

#when-i-was, #think-that, #porkchops-karatechops {
  opacity: 1;
  font-size: 40px;
}

#porkchops-karatechops {
  position: relative;
  z-index: 1;
  padding-top: 500px;
  font-weight: bold;
}

.panel {
  color: #000;
  min-width: 100%;
  min-height: 880px;
  margin-top: -100px;
  font-weight: bold;
  padding-bottom: 2000px;
}

.porkchops, .karatechops, .same-thing {
  font-size: 42px;
  padding-top: 100px;
  text-align: center;
}

.porkchops-small {
  padding-top: 100px;
  padding-bottom: 100px;
}

.porkchops {
  background-color: #FFCCFF;
}

.karatechops {
  background-color: #fff;
}

.same-thing {
  text-align: center;
  background-color: #FF6666;
}

.reset {
  background-color: #0f1d2a;
  height: 50px;
  padding-bottom: 200px;
}

.equals {
  font-size: 250px;
}

#grandma-scene {
  color: #000;
  min-height: 100%;
  min-width: 100%;
}

#because-grandma, #thought-cute {
  margin-top: 100px;
  text-align: center;
  font-size: 48px;
  text-shadow: 0px 0px 4px #fff;
}

.do-it-anyways {
  padding-top: 500px;
  background-color: #fff;
  color: #000;
  text-align: center;
  font-size: 48px;
}

.grandma, #teacher-noticed{
  opacity: 1;
  text-align: center;
}

.heart {
  padding-bottom: 100px;
}

#no-big-deal, #one-day, #climbing-tree, #playing-where-shouldnt, .teacher-noticed, .got-sent, .asked-questions{
  text-align: center;
  color: #fff;
  font-size: 48px;
}

#no-big-deal {
  padding-bottom: 1500px;
}

.before-realized {
  background-image: url("img/climbing-tree.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
  min-width: 100%;
  color: #000;
}

.fell-out {
  background-image: url("img/fall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
  min-width: 100%;
  color: #000;
}

.bruised {
  background-image: url("img/bruised.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
  min-width: 100%;
  color: #000;
}

.before-realized {
  padding-top: 400px;
  z-index: 1;
}

.fell-out {
  background-color: #fff;
  min-height: 100%;
  min-width: 100%;
  z-index: 2;
}

.bruised {
  background-color: #fff;
  min-height: 100%;
  min-width: 100%;
  z-index: 3;
}

#climbing-tree, #teacher-part {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.dir-panel {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
}

#not-tell-grandma {
  background-image: url("img/not-tell-grandma.jpg");
}

#scared-shed-yell {
  background-image: url("img/scared-shed-yell.jpg");
}

#not-tell-grandma, #scared-shed-yell {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 100%;
  min-height: 100%;
  opacity: 1;
  color: #fff;
  font-size: 48px;
  text-align: center;
  padding-top-top: 550px;
}

#scared-shed-yell {
  margin-top: -50px;
}

.teacher-noticed, .got-sent, .another-room, .asked-questions{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
  min-width: 100%;
  color: #000;
}

.teacher-noticed p, .got-sent p, .asked-questions p{
  color: #fff;
  font-size: 48px;
  text-shadow: 0px 0px 4px #000;
}

.teacher-noticed{
  background-image: url("img/teacher-saw.jpg");
  z-index: 1;
}

.got-sent{
  background-image: url("img/got-sent.jpg");
  z-index: 2;
}

.another-room {
  z-index: 3;
}

.nice-lady {
  z-index: 4;
}

.another-room, .nice-lady{
  text-align: center;
  color: #000;
  font-size: 48px;
  background-color: #fff;
}

.box, .lady{
  margin-top: 200px;
}

.asked-questions {
  background-image: url("img/asked-questions.jpg");
  z-index: 5;
}






